
body {
  background: #e5e5e5;
}

.main-button {
  
}

.tbody > div {  
  width: 100px;
  padding: 20px;
}

.tbody {
  border-bottom: 1px solid lightgray;
}

.thead > div {
  width: 100px;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}

.tbody:hover {
  background-color: #a4a4a4;
}

.tbody, .thead {
  width: 100%;
  display: flex;
}

.customers-list-wrapper {
  background-color: #fff;
  width: 90%;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
}

div .buttons {
  background-color: lightblue;
  padding: 5px 30px;
  width: 100px;
}